*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.global{
position: relative;
}
.global .head{
    position: absolute;
}
.global .head .logo{

}
.global .head .menu{

}
.global .text{

}
.global .text span{

}
.global .text hr{

}
.global .text p{

}
.global .text button{

}
